main {
    display: flex;
    flex-direction: row;
}

/* ========= Bouteille / image ========== */

.bouteille-container {
    position: absolute;
    width: 100%;
    min-width: 95px;
    max-width: 95px;
}

.bouteille-container img {
    position: absolute;
    top: 110px;
    left: -180px;

    height: 540px;

    pointer-events: none;
}

/* =========== Description =========== */

.description-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-width: 335px;
    max-width: 335px;

    margin-left: 95px;

    gap: 40px;

    padding-top: 25px;
}

/* titre */
.carte-titre {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-right: 45px;
}

.carte-titre p {
    margin: 0;

    font-family: 'MabryPro';
    font-size: 16px;
}

.carte-titre h2 {
    margin: 0;

    font-family: 'Bonobo', 'GelicaLight', sans-serif;
    font-size: 28px;
}

/* Bouton Ajouter */
.bouton-ajouter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 100%;
    min-width: 200px;
    max-width: 290px;
    height: 50px;
    flex-shrink: 0;

    background-color: var(--light-brown);
    text-decoration: none;
    border-radius: 5px;

    font-family: 'Bonobo', 'GelicaLight', sans-serif;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.bouton-ajouter img {
    height: 25px;
}

/* == informations == */
.informations {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'MabryPro';
    letter-spacing: 0.7px;

    padding-right: 45px;
    /* padding-bottom: 40px; */
}

/* info-double */
.info-double {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.info-double div {
    display: flex;
    flex-direction: column;
    width: 140px;
}

.info-double h3,
.info-double p,
.info-simple h3,
.info-simple p,
.info-detaillee h3,
.info-detaillee p,
.texte-gouts h3,
.texte-gouts p {
    margin: 0;
}

.info-double h3,
.info-simple h3 {
    font-weight: normal;
}

.info-double p,
.info-simple p {
    font-weight: bold;
}

/* info-simple */
.info-simple,
.info-detaillee {
    display: flex;
    flex-direction: column;
}

/* info detaillée */
.info-detaillee h3 {
    font-weight: bold;
}

.info-detaillee {
    gap: 5px;
}

/* division */
.division {
    width: 100%;
    min-width: 230px;
    max-width: 400px;

    height: 2px;
    border-radius: 5px;
    background-color: var(--light-grey);
}

/* == information gouts == */


.info-gouts-container,
.info-gouts {
    display: flex;
    flex-direction: column;
}

.info-gouts-container {
    gap: 25px;
}

.info-gouts {
    gap: 10px;
}

.texte-gouts {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.texte-gouts h3,
.texte-gouts p {
    font-size: 16px;
}

.texte-gouts h3 {
    font-weight: normal;
}

.texte-gouts p {
    font-weight: bold;
}

/* lignes */
.ligne-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.ligne-gauche,
.ligne-centre,
.ligne-droite {
    width: 90px;
    height: 8px;
    background-color: #d1d3d6;
}

.ligne-gauche {
    border-radius: 5px 0 0 5px;
}

.ligne-droite {
    border-radius: 0 5px 5px 0;
}

/* == commentaires == */

.commentaires {
    padding-bottom: 40px;
}

/* ========== MEDIA ========== */

@media (max-width: 385px) {

    /* Bouteille */
    .bouteille-container {
        min-width: 65px;
        max-width: 65px;
    }

    .bouteille-container img {
        top: 60px;
        left: -110px;
        height: 345px;
    }

    /* description */
    .description-container {
        margin-left: 65px;
        max-width: 255px;
        min-width: 255px;
        gap: 30px;
    }

    .carte-titre {
        margin-right: 20px;
    }

    .carte-titre h2 {
        font-size: 22px;
    }

    /* bouton */
    .bouton-ajouter {
        width: 93%;
    }

    /* information */
    .informations {
        padding-right: 20px;
        font-size: 14px;
    }

    /* gouts */
    .texte-gouts h3,
    .texte-gouts p {
        font-size: 14px;
    }

}