.filtres-tris-conteneur {
    display: flex;
    gap: 10px;
    margin: 10px;
    margin-top: 0;
    max-width: 100%;
    max-height: 100px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.filtres-tris-conteneur > * {
    min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    background-color: var(--light-brown);
    padding-block: 10px;
}
.filtres-tris-conteneur > * img {
    max-width: 40px;
    max-height: 40px;
}

.filtres-side-bar {
    /* display: flex; */
    flex-direction: column;
}

.resultats {
    margin-inline: auto;
}
.zone-pillules {
    margin-inline: 10px;
    display: flex;
}
.zone-pillules > div {
    display: flex;
    background-color: rgb(187, 187, 187);
    color: black;
    border-radius: 25px;
    padding: 5px;
    padding-top: 7px;
    padding-left: 7px;
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
    max-width: fit-content;
}
.zone-pillules > div p {
    margin: 0;
    margin-top: 1px;
    padding: 0;
    text-align: center;;
}
.zone-pillules > div button {
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    height: 10px;
}
.zone-pillules > div img {
    max-height: 100%;
}

/* dropdown */

.label-simple {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.options-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    margin-top: 5px;
}

.option {
    display: flex;
    align-items: center;
}

.filtre-dropdown-couleurs,
.filtre-dropdown-pays {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

    width: 100%;
}

.filtre-dropdown-couleurs.show {
    max-height: 300px;
}

.filtre-dropdown-pays.show {
    max-height: 1000px;
}