@font-face {
    font-family: 'MabryPro';
    src: url('/fonts/MabryPro-Regular.ttf') format('ttf'),
         url('/fonts/MabryPro-Regular.woff') format('woff'),
         url('/fonts/MabryPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}