.formulairePage>h2{
    padding-top: 10px;
    padding: 5px;
    border-radius: 10px 10px 0 0;
}
.formulairePage hr{
    color: #E2E2E3 ;
}

.ajoutCellier{
    border: 2px solid var(--dark-brown);
    background-color: var(--light-brown);
    border-radius: 10px;
    min-width: 250px;
    padding: 10px;
    min-height: 125px;
}
dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}

.ajoutCellier p {
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    color: var(--dark-brown);
}
dialog :is(input, button, span, select){
    color: #848484;
}

.ajoutCellier form button {
    border: 2px solid white;
    padding-block: 15px;
    cursor: pointer;
    color: white;
    background-color: var(--dark-brown);
    padding: 10px;
}
.ajoutCellier form * {
    border-radius: 5px;
    font-size: 1.15em;
    margin: 5px;
}
.ajoutCellier form {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
}
.ajoutCellier form input {
    padding: 5px;
    border: 2px solid var(--dark-brown);
}

.ajoutCellier label {
    font-size: 1.15em;
    font-weight: bold;
    color: var(--dark-brown);
}

.modaleActions{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 5px;
}

.quantity-input{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-inline: 5px;
    width: 100%;
}
.quantity-input>input{
    height: min-content;
    width: min-content;
}
.quantity-input>div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.plusMinus span{
    font-size: 20px;
    cursor: pointer;
    box-shadow: inset 0 0 0 1px var(--dark-brown);
    border-radius: 10px;
    padding: 10px;
}

.plusMinus input{
    outline: none;
    appearance: textfield;
    width: 3ch;
    height: min-content;
    font-size: 16px;
}

.plusMinus{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

/* Styles pour la boîte modale */
.modalePage {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.formulairePage{
    position: absolute;
    top: 0;
    left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #f3F1F1; */
    /* padding: 20px; */
    /* border: 1px solid #888; */
    border-radius: 10px;
    width: 90%;
}

.formulairePage select{
    display: flex;
    justify-content: center;
}

.formulairePage>h2{
    font-family: 'Bonobo', 'GelicaLight', sans-serif;
    font-size: 22px;
    color: white;
    padding-top: 10px;
    padding: 5px;
    margin: 0;
    border-radius: 10px 10px 0 0;
}

.formulairePage hr{
    color: #E2E2E3 ;
}

.cellar-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cellar-input {
    margin: auto;
}

.changerQteBout>form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.changerQteBout>form>div{
    display: flex;
    gap: 20px;
}

.changerQteBout span{
    font-size: 20px;
    cursor: pointer;
    box-shadow: inset 0 0 0 1px var(--dark-brown);
    border-radius: 10px;
    padding: 10px;
}

.changerQteBout>form .inputQuantite{
    border: none;
    outline: none;
    appearance: textfield;
    width: 3ch;
}