/* .modal {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 500px;  Optional: Set a maximum width for the modal
    } */

    /* .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

    .close:hover {
        color: black;
    } */

.formulairePage>h2{
    background-color: var(--light-brown);
    margin-top: initial;
    padding: 5px;
    border-radius: 10px 10px 0 0;
}
.formulairePage hr{
    color: #E2E2E3 ;
}

dialog :is(input, button, span, select){
    color: #848484;
}

dialog button{
    width: 100%;
    padding-block: 30px;
    cursor: pointer;
}
dialog button:hover{
    background-color: #000000;
}
.modaleActions{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
}

.quantity-input{
    display: flex;
    gap: 20px;
    align-items: center;
    padding-inline: 5px;
}
.quantity-input>input{
    height: min-content;
    width: min-content;
}
.quantity-input>div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.plusMinus span{
    padding: 20px;
    cursor: pointer;
    box-shadow: inset 0 0 0 1px #E2E2E3;
}


/* Styles pour la boîte modale */
.modalePage {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.formulairePage{
    position: absolute;
    top: 0;
    left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f3F1F1;
    /* padding: 20px; */
    /* border: 1px solid #888; */
    border-radius: 10px;
    width: fit-content;
}